# Config
config/config.php
ignore/



# XAMPP/PHP specific
.htaccess.bak


# Uploads (optional: ignore actual files but keep folder)
uploads/products/*
uploads/videos/*
uploads/models/*
uploads/variants/*
uploads/size_charts/*
!uploads/.gitkeep

# Archives
*.zip
*.rar
*.7z
*.tar.gz


# OS files
Thumbs.db
Desktop.ini
.DS_Store
